In [5]:
import pandas as pd
df = pd.read_csv('DataSet/course_recommendation.csv')
# convert column 'Rating' to numeric
df['Rating'] = pd.to_numeric(df['Rating'])
df

    Rating Easy? AI? Sys? Thy? Morning?
0        2     y   y    n    y        n
1        2     y   y    n    y        n
2        2     n   y    n    n        n
3        2     n   n    n    y        n
4        2     n   y    y    n        y
5        1     y   y    n    n        n
6        1     y   y    n    y        n
7        1     n   y    n    y        n
8        0     n   n    n    n        y
9        0     y   n    n    y        y
10       0     n   y    n    y        n
11       0     y   y    y    y        y
12      -1     y   y    y    n        y
13      -1     n   n    y    y        n
14      -1     n   n    y    n        y
15      -1     y   n    y    n        y
16      -2     n   n    y    y        n
17      -2     n   y    y    n        y
18      -2     y   n    y    n        n
19      -2     y   n    y    n        y

In [6]:
label = {
    -2: 'Hated',
    -1: 'Hated',
    0: 'Liked',
    1: 'Liked',
    2: 'Liked'
}

In [7]:
# Overall
val_cnt = df['Rating'].map(label).value_counts()
val_perc = df['Rating'].map(label).value_counts(normalize=True) * 100
overall = pd.concat([val_cnt, val_perc], axis=1, keys=['counts', 'percentage'])
overall

       counts  percentage
Liked      12        60.0
Hated       8        40.0

In [8]:
# set of features in df
features = set(df.columns) - {'Rating'}

In [9]:
score = {}
for feature in features:
    no = df[df[feature] == 'n']['Rating'].map(label).value_counts()
    no
    yes = df[df[feature] == 'y']['Rating'].map(label).value_counts()
    yes

    score[feature] = no.max() + yes.max()

# find feature with max score
f = max(score, key=score.get)

for feature in features:
    print(feature, score[feature])

Sys? 18
Thy? 14
Morning? 13
AI? 15
Easy? 12